<%= react_component("Article", props={
  title: @article.title,
  author: @article.author,
  date: Date.parse(@article.published_date.to_s).strftime("%m/%d/%Y"),
  text: @article.article_text,
  id: @article.id
  },
  options = {prerender: true}) %>

<!-- This can be it's own component -->
<h3>Other Articles</h3>
<% @other_articles.each do |article| %>
  <p><%= link_to article.title, article %></p>
<% end %>

<hr />
<%= link_to "Home", "/" %>
